@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

@layer components {

  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}

#main{
 @apply  bg-gradient-to-l from-indigo-500  to-emerald-500 font-google h-full
}

 a {
  text-decoration: none;
  color: #000;
  align-items: center;
}
.active:hover {
  color: #777;
}

svg {
  display: inline-flex;
  margin-right: 5px;
}
.svg-icon{
  margin-right:0 !important;
}


p {
  line-height: 1.7;
}

ul {
  list-style: none;
  justify-content: space-around;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
 @apply font-semibold
  text-base 

}
h1 {
  font-size: 2rem;
}
   .btn{
   @apply py-3 px-5 rounded bg-[#000] border border-solid border-black text-[#fff] text-base font-bold cursor-pointer text-center flex items-center justify-center hover:scale-95
   }
 

}